<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff0000">
    <title>Template</title>
    <style type="text/css">
		/* * {
			margin: 0;
			padding: 0;
		} */
        svg {
            /* width: 65%; height: 50%;
            border-width: 1;
            border-color: rgb(190, 190, 190);
            border-style: solid; */
        }
        .button {
            cursor: pointer;
        }
    </style>

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="../lib/svg.js"></script>
    <script type="text/javascript" src="../lib/svg.draggable.js"></script>
</head>

<body>
    <svg id="svg5" width="800" height="600" version="1.1" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
        <g id="layer1" stroke-width="2">
            <path id="path313" d="m11 1a10 10 0 0 0-10 10 10 10 0 0 0 10 10h15a10 10 0 0 0 10-10 10 10 0 0 0-10-10z" fill="#69306d" stroke="#69306d"/>
            <circle id="path1155" cx="11" cy="11" r="8" fill="#cc5a71" stroke="#cc5a71"/>
        </g>
    </svg>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>